<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         name="E4 Tester Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.opcoach.e4tester.core.E4TesterApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.opcoach.e4tester.core.application"
            description="The E4 Tester Product to run"
            name="E4 Tester Product">
         <property
               name="applicationXMI"
               value="platform:/plugin/com.opcoach.e4tester.core/E4TesterApplication.e4xmi">
         </property>
      </product>
   </extension>

</plugin>
