<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Running Platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2019-12"/>
			<unit id="org.eclipse.e4.rcp.feature.group" version="4.14.0.v20191204-0601"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.600.v20191014-2025"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.200.v20191210-0610"/>
			<unit id="org.eclipse.platform.ide" version="4.14.0.I20191210-0610"/>
			<unit id="org.eclipse.pde.source.feature.group" version="3.14.200.v20191210-0610"/>
	  <unit id="org.junit.jupiter.api" version="5.5.1.v20190826-0900"/>
      <unit id="org.junit.jupiter.engine" version="5.5.1.v20190826-0900"/>
      <unit id="org.junit.jupiter.migrationsupport" version="5.5.1.v20190826-0900"/>
      <unit id="org.junit.jupiter.params" version="5.5.1.v20190826-0900"/>
      <unit id="org.junit.platform.commons" version="1.5.1.v20190826-0900"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/eclipse/updates/4.14"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.0.v20191122-2104"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
			<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.18.0.v20200123-1744"/>
		</location>
	</locations>
</target>